body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(246, 248, 252);
  background-image: url("imgs/background/background.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: top right;
  background-blend-mode: soft-light;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding: 16px 32px;
  gap: 8px;
}

h1 {
  font-size: 40px;
}

input {
  width: 50%;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  padding: 16px;
}

input:focus {
  outline: none;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.main {
  margin: 0 320px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.search-icon:hover {
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

.pokedex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.pokedex-types {
  display: flex;
  gap: 4px;
}

.type {
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.normal {
  background-color: rgb(168, 168, 120);
  color: white;
}

.fire {
  background-color: rgb(240, 128, 48);
  color: white;
}

.water {
  background-color: rgb(38, 139, 204);
  color: white;
}

.electric {
  background-color: rgb(248, 208, 49);
  color: white;
}

.grass {
  background-color: rgb(120, 200, 80);
  color: white;
}

.ice {
  background-color: rgb(152, 216, 216);
  color: white;
}

.fighting {
  background-color: rgb(192, 48, 40);
  color: white;
}

.poison {
  background-color: rgb(160, 64, 160);
  color: white;
}

.ground {
  background-color: rgb(224, 192, 104);
  color: white;
}

.flying {
  background-color: rgb(135, 181, 229);
  color: white;
}

.psychic {
  background-color: rgb(248, 88, 136);
  color: white;
}

.bug {
  background-color: rgb(168, 184, 31);
  color: white;
}

.rock {
  background-color: rgb(184, 160, 56);
  color: white;
}

.ghost {
  background-color: rgb(112, 88, 152);
  color: white;
}

.dragon {
  background-color: rgb(112, 56, 248);
  color: white;
}

.dark {
  background-color: rgb(112, 88, 72);
  color: white;
}

.steel {
  background-color: rgb(184, 184, 208);
  color: white;
}

.fairy {
  background-color: rgb(240, 182, 188);
  color: white;
}

.stellar {
  background-color: rgb(53, 172, 231);
  color: white;
}
